{{#each producto}}
    <div class="card" style="width: 18rem;">
        <img src="/img/{{this}}.png" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title text-center">{{this}}</h5>
        </div>
    </div>
{{/each}}