<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verdulería en línea</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <script src="https://kit.fontawesome.com/4d8229d7c1.js" crossorigin="anonymous"></script>
</head>
<body>
    {{>menu}}
    {{{body}}}
</body>
</html>